*, *::before, *::after {
  -webkit-box-sixing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*this is created so we can close the grid. It's basically ending the row so we can make another row below it; this is needed fro EVERY row, EVERY time we use any of the other classes*/
.grid::after{
  /*when a grid closes*/
  content:"";
  display: block;
  clear: both;
}


/*this is a class i'm creating that's saying the div will take up 4 out of 12 total columns*/
.col-4of12{
  width: 33%;
  /*4/12 is about 33% so 1/3*/
}

/*based on the 12 column grid we can create different proportions for example: */

.col-6of12{
  width: 50%;
}

.col-3of12{
  width: 25%;
}

.box-item-nav{
  display: inline-block;
  margin: 0.5em;
}

/*and so forth, I created a section id="test" to show how to use it in the html, I wasn't sure where you were going to put the panels plus it'll be good practice to do it yourself*/

[class^='col-']{
/*any class that begins with 'col-' apply the styles*/
  float: left;
  padding: 0;
  text-align: center;
}


@media (max-width: 46em){
  nav{
    margin-top:5em;
    margin-left:auto;
    margin-right:auto;
    left:auto;
    right:auto;
    position:relative;

  }
  .box-item-nav{
    display:block;
    width:100%;
    text-align:center;
    position:relative;

  }

  .button-nav{
    font-size:1.5em;


  }

  .logo{
    
    position:absolute;
    margin-left:auto;
    margin-right:auto;
  }


}


/*.box, .feature-buttons{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}

.box-item-nav{
  flex-grow: 1;
  flex-shrink: 1;
}*/


@media (max-width: 820px){
  .box{
    float: left;
    background-color: #C1272D;
    width: 100%;
    top: 5em;
  }

  .button-nav{
    top:0;
  }


}


@media (max-width: 62.5em){
  .col-4of12{
    width:100%;
  }

  .service{
    margin: 0 7em;
    padding-bottom: 3em;
    border-bottom: 1px solid #89C1B9;
  }
}

@media (max-width: 37.5em){

  .dropdown{
    display:block;
    width:100%;
    height:2.5em;
  }

  .check-box label{
    display:block;
    margin-top:1em;
  }
}


@media (max-width: 39em){
  .service{
    margin: 0 1.5em;
  }
}
