*, *::after, *::before{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  margin: 2em;
}

h1{
  color: #3D3D3D;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
}

h2{
  font-size: 1.5em;
  font-family: 'Lora', 'serif';
  color: #C1272D;
  font-style: italic;
  font-weight: 700;
}

h3{
  font-family: 'lora', 'serif';
  color: #C1272D;
}

section{
  padding-bottom: 2em;
  width: 100%;
  border-bottom: 1px solid;
  border-color: #3D3D3D;
}

.head{
  background-color: #89C1B9;
  margin: 0;
  padding: 2em;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
}

.button{
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #C1272D;
  background-color: #82BFB9;
  font-size: 1.15rem;
  padding: 0.25em 0.45em;
  margin: 0.25em;
  font-weight: bold;
}

.button:hover{
  background-color: #C1272D;
  color: #82BFB9;
}

.button-nav{
  color: white;
  font-weight: lighter;
  padding: 0 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.25em;
  margin: 0;
}

.button-nav:hover{
  background-color: #DDDDDD;
  color: #3D3D3D;
  border-color: white;
}

.sample-nav{
  background-color: #89C1B9;
  width: 30%;
  height: 2em;
  margin-bottom: 20px;
}

#colour{
  margin-top: 200px;
  color: white;
}

.colour-box{
  width: 100px;
  height: 50px;
  text-align: center;
  display: inline-block;
  font-weight: lighter;
}

#blue-palette{
  background-color: #171D61;
}

#red-palette{
  background-color: #C1272D;
}

#darkgray-palette{
  background-color: #3D3D3D;
}

#aqua-palette{
  background-color: #89C1B9;
}
