*, *::after, *::before{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  margin: 2em;
  background-color: #171D61;
}

.logo{
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  border: 3px solid;
  padding: 0.5em;
  font-size: 1.5em;
  float: left;
  margin-top: 0.5em;
  margin-left: 2em;
}

h2{
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 700;
  background-color: #89C1B9;
  padding: 0.5em;
  /*don't know why the width of the background is not the same as the text*/
  text-transform: uppercase;
}

h3{
  font-family: 'lora', 'serif';
  color: white;
  font-weight: lighter;
}

p{
  color: white;
}

section{
  padding-bottom: 2em;
  border-bottom: 1px solid #ffffff;
  border-color: #3D3D3D;
}

.head{
  background-color: #C1272D;
  margin: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  height: 5em;
}

.button{
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #C1272D;
  background-color: #82BFB9;
  font-size: 1.15rem;
  padding: 0.25em 0.45em;
  margin: 0.25em;
  font-weight: bold;
}

.button:hover{
  background-color: #C1272D;
  color: #82BFB9;
}

nav{
  margin-right: 2em;
}

.button-nav{
  color: white;
  font-family: 'Lora', 'serif';
  font-style: italic;
  padding: 0 1em;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.25em;
  margin: 0;
  float: right;
  margin-top: 3em;
}

.button-nav:hover{
  background-color: #89C1B9;
  color: #3D3D3D;
  border-color: white;
}

.sample-nav{
  width: 30%;
  height: 2em;
  clear: both;
}

#colour{
  margin-top: 100px;
  color: white;
}

.colour-box{
  width: 100px;
  height: 50px;
  text-align: center;
  display: inline-block;
  font-weight: lighter;
}

#blue-palette{
  background-color: #171D61;
  border: 1px solid white;
}

#red-palette{
  background-color: #C1272D;
}

#darkgray-palette{
  background-color: #3D3D3D;
}

#aqua-palette{
  background-color: #89C1B9;
}
