*, *::after, *::before{
  box-sizing: border-box;
}

body{
  font-family: 'open sans', sans-serif;
  background-color: #171D61;
  color:#fff;
}

h1, h2{
  font-family:'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
}

h1{
  font-size: 2em;
  letter-spacing: 0.05em;
  background-color:#89c1b9;
  padding: 0.1em 0.3em;
  display:inline-block;
}

h2{
  font-size: 1.17em;
  color: #89c1b9;
  letter-spacing: 0.02em;
}

h3{

}

.subtitle{
  margin: 0;
  font-family: 'lora', serif;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: white;
  background-color: #89C1B9;
  text-transform: none;
  padding: 0.1em 0.3em;
  display:inline-block;
}

p{
  font-family:'open sans', sans-serif;
  color: white;

}


a{
  color: #fff;
  text-decoration: none;
  border-bottom: 0.35em solid #C1272D;
}

a:hover, a:active, a:focus{
  background-color:#C1272D;
  text-decoration: none;
  padding:0.2em;
  border-bottom:none;
}

.button{
  letter-spacing: 2px;
  font-family:'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #C1272D;
  background-color: transparent;
  font-size: 1.15rem;
  padding: 0.2em;
  margin: 1em;
  font-weight: 700;
  outline:solid;
  border-bottom:none;
  display:inline-block;

}

.button:hover, .button:active, .button:focus{
  color: #89C1B9;
  font-family:'Montserrat', sans-serif;
  background-color:transparent;

}

/*NAVIGATION*/

.head{
  background-color:#C1272D;
  width: 100%;
  /*height:5em;*/
  margin:0;
}

.logo{
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  border: 3px solid;
  padding: 0.5em;
  font-size: 1.5em;
  float: left;
  margin: 0.5em;
  background-color:transparent;
  float: left;
  z-index: 5;
}


nav{
  float:right;


}

.box-item-nav{
  display: inline-block;
  color: white;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  text-transform:uppercase;
  font-size: 0.8em;
  letter-spacing: 0.25em;
  float: right;
  /*border:0.25em solid #fff;*/
  padding:1em;

}

.box-item-nav:hover, .box-item-nav:active, .box-item-nav:focus{
  background-color: #C1272D;
  letter-spacing:0.25em;


/*Feature*/


/*FORM*/


/*PANELS-padding, etc.*/
.image-placeholder{
  border: 1px solid #ccc;
  width: 100%;
  height: auto;
  margin-top: 3em;
}

.service{
  padding: 0 1em;
  margin: 0 1.5em;
  display: inline-block;
}

.service p{
  text-align: left;
}
