*, *::after, *::before{
  box-sizing: border-box;
}
body{
  font-family: 'open sans', sans-serif;
  background-color: #171D61;
  color:#fff;
  padding: 1em;
  font-size: 16px;
}

h1, h2{
  font-family:'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  display:block;
}

h1{
  font-size: 2em;
  letter-spacing: 0.05em;
  background-color:#89c1b9;
  padding: 0.1em 0.3em;
  display:inline-block;
}

h2{
  font-size: 1.17em;
  color: #89c1b9;
  letter-spacing: 0.02em;
}

h3{
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  margin-top: 2em;
  color:#C1272D;
}

.subtitle{
  margin: 0;
  font-family: 'lora', serif;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: white;
  background-color: #89C1B9;
  text-transform: none;
  padding: 0.1em 0.3em;
  display:inline-block;
}

p{
  font-family:'open sans', sans-serif;
  color: white;

}


a{
  color: #fff;
  text-decoration: none;
  border-bottom: 0.35em solid #C1272D;
}

a:hover, a:active, a:focus{
  background-color:#C1272D;
  text-decoration: none;
  border-bottom:none;
}

.button{
  letter-spacing: 2px;
  font-family:'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #C1272D;
  background-color: transparent;
  font-size: 1.15rem;
  padding: 0.2em;
  margin: 1em;
  margin-left: 0;
  font-weight: 700;
  outline:solid;
  border-bottom:none;
  display:inline-block;

}

.button:hover, .button:active, .button:focus{
  color: #89C1B9;
  font-family:'Montserrat', sans-serif;
  background-color:transparent;
}

/*NAVIGATION*/

.head{
  background-color:#C1272D;
  width: 100%;
  height:6em;
  margin:0;
  position:relative;
  z-index:6;
  background: transparent;
}

.logo{
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  border: 3px solid;
  padding: 0.5em;
  font-size: 1.5em;
  float: left;
  margin: 0.5em;
  background-color:transparent;
  float: left;
  z-index: 5;
  position:relative;
}

a.logo-hover:hover{
  background-color:none;
  padding:0;


}


nav{
  float:right;

}

.box-item-nav{
  display: inline-block;
  color: white;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  text-transform:uppercase;
  font-size: 0.8em;
  letter-spacing: 0.25em;
  /*border:0.25em solid #fff;*/
  padding:1em;

}

.box-item-nav:hover, .box-item-nav:active, .box-item-nav:focus{
  background-color: #C1272D;
  letter-spacing:0.25em;
}


#main-header{

  background-image:url(../img/fan2-retina.png);
  height:48em;
  margin:0;
  background-repeat:no-repeat;
  background-size:100%;
  padding-top:15em; /*padding for feature element text*/
}




/*.image-container{
  position:absolute;
  bottom:0%;
  left:0%;
  top:6em;
  height:100%;
  width:100%;
  overflow:hidden;
  z-index:1;
  margin:0;

}

.image-container > img{
  opacity:0.7;

}*/

/*Feature*/

.feature-wrap {
  z-index:2;
  position:relative;
  margin:0 auto;
  width:50%;

}

.feature-buttons > .button{
  margin-top:2em;

}



/*FORM*/
form{
}

#form-name, #form-phone, #form-car, #form-comment {
  color: white;
  background: transparent;
  border: 0.1em solid #ccc;
  padding: 0.5em;
  margin-top: 0.5em;
  width:100%;
}

label{
}

input{
  border: none;
}

textarea{
  width: 66%;
  height: 20%;
}

select{
  background: transparent;
  color: white;
  margin: 0.5em;
  height: 2em;
}

.check-box{

}

.check-box label{
  margin: 1em 0;
}




/*PANELS-padding, etc.*/
.image-placeholder{
  margin-top: 3em;
}

img{
  max-width: 100%;
  height: auto;
  opacity: 0.7;
}

.service{
  padding: 0 1em;
  margin: 0 1.5em;
  display: inline-block;
}

.service p{
  text-align: left;
}




/*ABOUT SECTION*/
#about-wrapper{

  background-image:url(../img/duo-mechanics-large.png);
  height:35em;
  margin:0;
  background-repeat:no-repeat;
  /*background-position: 0 6em;*/
  background-size:cover;
  padding-top:15em; /*padding for feature element text*/
}

#about-title{
  margin: 0 auto;
  position:relative;
  width:50%;

}

#about-body-text{
  margin:2em 20%;

}

/*Product Page*/
.ac-radiator {
  z-index:2;
  position: absolute;
  margin: 2em 2em;
}

.product-body{
  padding: 4em 2em;
}

.product-body p{
  margin-bottom: 2em;
}

.product-txt{
  padding-right: 4em;
}

/*img header for product listing*/
.img-header{
  background-image:url(../img/radiator-retina.png);
  height:37.5em;
  margin:0;
  background-repeat:no-repeat;
  background-size:100%;
  padding-top:15em;
}


/*FOOTER/CONTACT US*/

/*footer img{
  vertical-align:middle;
}*/
footer{
  margin-top: 2em;
  padding: 2em 0;
  border-top: 1px solid #89C1B9;
}

footer h2, h1, h3, p{
  margin: 0;
}

.footer-item{
  padding: 1em;
}

.footer-logo{
  width: 24px;
  height: auto;
  vertical-align: middle;
}

.footer-wrap{
  margin-top:12em;

}

#footer-name, #footer-phone, #footer-comment{
  color: white;
  background: transparent;
  border: 0.1em solid #ccc;
  padding: 0.5em;
  margin: 0.5em 0 1.5em 0;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  width: 100%;
}

#footer-comment{
  height: 10em;
}


/*get estimate modal*/

.modal-dialog {
  position: fixed;
  font-family: "Montserrat" sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  
  pointer-events: none;
}

.modal-dialog:target {
  opacity:1;
  pointer-events: auto;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.modal-dialog > div {
  width: 30em;
  position: relative;
  margin: 10% auto;
  padding: 0.1em 1.5em 1em 1.5em;
  background: #000;
  
}

.close {
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  width: 1.5em;
  text-decoration: none;
  font-weight: bold;
  border-bottom:none;
}

@media (max-width: 37.5em){

  .modal-dialog > div {
  width: 100%;  
  }
}



