*, *::after, *::before{
  box-sizing: border-box;
}

body{
  font-family: 'open sans' sans-serif;
  background-color: #171D61;
  color:#fff;
  padding-top: 4.5em;
}



.logo{
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  border: 3px solid;
  padding: 0.5em;
  font-size: 1.5em;
  float: left;
  margin-top: 0.5em;
  margin-left: 2em;
  background-color:transparent;
  float: left;
  z-index: 5;
}

h1{
  font-size: 2em;
  font-family:'Montserrat', sans-serif;
  color: white;
  background-color:#89c1b9;
  padding: 0.1em 0.3em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display:inline-block; /*does this need to be 'block' instead?*/
}

h1.text-center{
  text-align:center;
  display:block;
  padding:0;
  margin:0;


}


h2{
  font-size: 1.5em;
  font-family: 'lora', serif;
  color: white;
  background-color: #89C1B9;
  padding: 0.1em 0.3em;
  font-weight:400;
  text-transform:none;
  font-style:italic;
  letter-spacing:0.02em;
  display: inline-block;

}

h3{
  font-size: 1.17em;
  font-family: 'Montserrat', sans-serif;
  color: #89c1b9;
  font-weight:400;
  text-transform:uppercase;
  letter-spacing:0.02em;
  display:block;
  font-weight:700;
}

p{
  font-family:'open sans', sans-serif;
  color: white;
}

a{
  text-decoration:none;
  color:#89C1B9
}
a:hover{
  color:#C1272D;
}

a.link-style{
  color: #fff;
  text-decoration:none;
  border-bottom: 0.35em solid #C1272D;

}
a.link-style:hover{
  background-color:#C1272D;
  text-decoration: none;
  padding:0.2em;
  border-bottom:none;

}


section{
  padding-bottom: 2em;
  border-bottom: 1px solid #ffffff;
  border-color: #3D3D3D;
}

section code {
  color:#ccc;
  padding: 0.5em 0.75em;
  display:block;
  width:50%;
  margin-bottom:0.5em;

}

.section-heading{
  background-color:transparent;
  display:block;
  margin-bottom:1em;
  padding:0;
}

h2.section-heading{
  color:#89C1B9;
  font-family:'Montserrat', sans-serif;
  padding-bottom:0;
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0;
}

h3.section-heading{
  font-family:'lora', serif;
  font-style:italic;
  color:#C1272D;
  text-transform: capitalize;
}


.head{
  background-color: #C1272D;
  margin: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
  height: 5em;
}

.button{
  letter-spacing: 2px;
  font-family:'Montserrat', serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #C1272D;
  background-color: transparent;
  font-size: 1.15rem;
  padding: 0.5em;
  margin: 1em;
  font-weight: 700;
  outline:solid;
}

.button:hover{
  color: #89C1B9;
  font-family:'Montserrat', serif;
}

nav{
  margin-right: 2em;
  float: right;
  margin-top: 2em;
}

.button-nav{
  display: inline-block;
  color: white;
  background-color: #C1272D;
  font-family: 'Lora', 'serif';
  font-style: italic;
  padding: 0 1em;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.25em;
  float: right;
  position: relative;


}

.button-nav:hover{
  background-color: #89C1B9;
  color: #3D3D3D;
  border-color: white;
}

.sample-nav{
  float: none;
  height: 2em;
  padding: 0;
  display: inline-block;
}

#menu{
  font-family:'Montserrat', serif;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  border-radius: 0.5em;
  font-size: 0.75em;
  position: relative;
  float: right;
  top: 2.5em;
  padding: 0.3em 0.5em;
  margin-right: 2em;
  margin-left: 2em;
}

#menu:hover{
  color: #89C1B9;
  border-color: #89C1B9;
}

#colour{
  margin-top: 100px;
  color: white;
}

.colour-box{
  width: 100px;
  height: 50px;
  text-align: center;
  display: inline-block;
  font-weight: lighter;
}

#blue-palette{
  background-color: #171D61;
  border: 1px solid white;
}

#red-palette{
  background-color: #C1272D;
}

#darkblue-palette{
  background-color: #041135;
}

#aqua-palette{
  background-color: #89C1B9;
}

/*beginning of form styling*/

form{
  font-family:'montserrat', sans serif;
  letter-spacing: 0.15em;
  text-transform:uppercase;
  background-color:transparent;
  padding:1em;
  color:#89C1B9;

}

#form-name, #form-phone, #form-car, #form-comment {
  font-family:'open sans', sans-serif;
  color:#fff;
  background:transparent;
  display:inline-block;
  border-style:solid;
  border-color:#ccc;
  border-width: 0.1em;
  padding:0.5em;
  margin-top:0.5em;
  margin-bottom:2em;
  width:50em;
  display:block;

}

label{
  display:block;
}


input{
  border:none;

}

textarea{
  margin: 0px 22px 0px 0px;
  width: 550px;
  height: 121px;

}/*not sure how to size this using relative measurement.*/

select{
  display:inline-block;
  background-color:transparent;
  color:white;
  font-family:'open-sans', sans-serif;
  margin:1.5em;
  margin-left:0.1em; /*top right bottom left   margin:1.5em;*/
  height:2em;


}

.check-box{
  margin-top:1em;
  margin-bottom:1em;

}

.check-box label{
  font-family:'open-sans', sans-serif;
  text-transform:capitalize;
  display:inline;
  letter-spacing:0;
  color:#fff;
  margin-left:0;
  margin-right:0.5em;

}

/*end of form styling*/


h1.h1-keygroups{
margin-bottom:-50em;

}

.image-placeholder{
  border: 1px solid #ccc;
  width:280px;
  height:150px;
  display:inline-block;
  padding:3.5em; /*wondering if there's a better way to center text in an div box rather than
  guessing the #em in the padding*/
  position:relative;
  margin:1.5em;

}

.padding-secondaryService{
  padding-left:1.7em;
  padding-right:1.7em;
  margin-right:3.5em;
  margin-left:3.5em;
  text-align:left;
}

.padding-secondaryService h3{
  text-align:center;

}

#secondary-service .button {
  margin-top:1.5em;
  display:inline-block;

}

.header-wrap{
  clear:right;
  display:inline-block;
  /*position: relative;
  top: 5em;
  left: 15em;*/
}

.header-wrap h2 {
  float:right;
  margin-top:0;
  text-align: center;
}

.header-wrap h1{
  margin-bottom: 0;
}

.feature{
  margin: 0;
  position: absolute;
  height: 30em;
  width: 100%;
  border: 1px solid white;
  background-color: white;
}

.feature-header-wrap{
  margin: 0;
  text-align: right;
  position: relative;
  right: 37%;
  top: 50%;
  vertical-align: middle;
}

.feature-header-wrap h1, h2{
  margin: 0 auto;
}

.feature-buttons{
  margin-top: 2em;
  position: absolute;
  width: 100%;
}
