*, *::after, *::before{
  box-sizing: border-box;
}

body{
  font-family: 'open sans', sans-serif;
  background-color: #171D61;
  color:#fff;
  padding: 1em;
  font-size: 16px;
}



.logo{
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  border: 3px solid;
  padding: 0.5em;
  font-size: 1.5em;
  float: left;
  margin: 0.5em;
  background-color:transparent;
  float: left;
  z-index: 5;
  position:relative;
}

h1, h2{
  font-family:'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  display:block;
}

h1{
  font-size: 2em;
  letter-spacing: 0.05em;
  background-color:#89c1b9;
  padding: 0.1em 0.3em;
  display:inline-block;
  margin-bottom: 1em;
}

h2{
  font-size: 1.17em;
  color: #89c1b9;
  letter-spacing: 0.02em;
}

h3{
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  margin-top: 1em;
  color:#C1272D;
}

.subtitle{
  margin: 0;
  font-family: 'lora', serif;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: white;
  background-color: #89C1B9;
  text-transform: none;
  padding: 0.1em 0.3em;
  display:inline-block;
}

.text-center{
  margin: 0;
  padding: 0;
  display: block;
  text-align:center;
}

p{
  font-family:'open sans', sans-serif;
  color: white;
}

a{
  color: #fff;
  text-decoration: none;
  border-bottom: 0.35em solid #C1272D;
}

a:hover, a:active, a:focus{
  background-color:#C1272D;
  text-decoration: none;
  border-bottom:none;
}

a.link-style{
  color: #fff;
  text-decoration:none;
  border-bottom: 0.35em solid #C1272D;

}
a.link-style:hover{
  background-color:#C1272D;
  text-decoration: none;
  padding:0.2em;
  border-bottom:none;

}


section{
  padding-bottom: 2em;
  border-bottom: 1px solid #ffffff;
  border-color: #3D3D3D;
}

section code {
  color:#ccc;
  padding: 0.5em 0.75em;
  display:block;
  width:50%;
  margin-bottom:0.5em;

}

.section-heading{
  background-color:transparent;
  display:block;
  margin-bottom:1em;
  padding:0;
}

h2.section-heading{
  font-size: 1.5em;
  letter-spacing:0.02em;
  font-family: 'lora', serif;
  color:#89C1B9;
  font-family:'Montserrat', sans-serif;
  padding: 0.1em 0.3em;
  padding-bottom:0;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0;
}

h3.section-heading{
  font-size: 1.17em;
  font-family:'lora', serif;
  font-style:italic;
  color:#C1272D;
  text-transform: capitalize;
}

.button{
  letter-spacing: 2px;
  font-family:'Montserrat', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #C1272D;
  background-color: transparent;
  font-size: 1.15rem;
  padding: 0.2em;
  margin: 1em;
  margin-left: 0;
  font-weight: 700;
  outline:solid;
  border-bottom:none;
  display:inline-block;
}

.button:hover, .button:active, .button:focus{
  color: #89C1B9;
  font-family:'Montserrat', sans-serif;
  background-color:transparent;
}

/*Start of Main Nav*/
.head{
  background-color:#C1272D;
  width: 100%;
  height:6em;
  margin:0;
  position:relative;
  z-index:6;
  background: transparent;
}

nav{
  float:right;
}

.box-item-nav{
  display: inline-block;
  color: white;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  text-transform:uppercase;
  font-size: 0.8em;
  letter-spacing: 0.25em;
  padding:1em;

}

.box-item-nav:hover, .box-item-nav:active, .box-item-nav:focus{
  background-color: #C1272D;
  letter-spacing:0.25em;
}

.sample-nav{
  float: none;
  height: 2em;
  padding: 0;
  display: inline-block;
}

#menu{
  font-family:'Montserrat', serif;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  border-radius: 0.5em;
  font-size: 0.75em;
  position: relative;
  float: right;
  top: 2.5em;
  padding: 0.3em 0.5em;
  margin-right: 2em;
  margin-left: 2em;
}

#menu:hover{
  color: #89C1B9;
  border-color: #89C1B9;
}

.colour-box{
  width: 100px;
  height: 50px;
  text-align: center;
  display: inline-block;
  font-weight: lighter;
}

#blue-palette{
  background-color: #171D61;
  border: 1px solid white;
}

#red-palette{
  background-color: #C1272D;
}

#darkblue-palette{
  background-color: #041135;
}

#aqua-palette{
  background-color: #89C1B9;
}

/*beginning of form styling*/

form{
  font-family:'montserrat', sans serif;
  letter-spacing: 0.15em;
  text-transform:uppercase;
  background-color:transparent;
  padding:1em;
  color:#89C1B9;

}

#form-name, #form-phone, #form-car, #form-comment {
  font-family:'open sans', sans-serif;
  color:#fff;
  background:transparent;
  display:inline-block;
  border-style:solid;
  border-color:#ccc;
  border-width: 0.1em;
  padding:0.5em;
  margin-top:0.5em;
  margin-bottom:2em;
  width:50em;
  display:block;

}

label{
  display:block;
}


input{
  border:none;

}

textarea{
  margin: 0px 22px 0px 0px;
  width: 550px;
  height: 121px;

}/*not sure how to size this using relative measurement.*/

select{
  display:inline-block;
  background-color:transparent;
  color:white;
  font-family:'open-sans', sans-serif;
  margin:1.5em;
  margin-left:0.1em; /*top right bottom left   margin:1.5em;*/
  height:2em;


}

.check-box{
  margin-top:1em;
  margin-bottom:1em;

}

.check-box label{
  font-family:'open-sans', sans-serif;
  text-transform:capitalize;
  display:inline;
  letter-spacing:0;
  color:#fff;
  margin-left:0;
  margin-right:0.5em;

}

/*end of form styling*/


h1.h1-keygroups{
margin-bottom:-50em;

}

.image-placeholder{
  border: 1px solid #ccc;
  width:280px;
  height:150px;
  display:inline-block;
  padding:3.5em; /*wondering if there's a better way to center text in an div box rather than
  guessing the #em in the padding*/
  position:relative;
  margin:1.5em;

}

.padding-secondaryService{
  padding-left:1.7em;
  padding-right:1.7em;
  margin-right:3.5em;
  margin-left:3.5em;
  text-align:left;
}

.padding-secondaryService h3{
  text-align:center;

}

#secondary-service .button {
  margin-top:1.5em;
  display:inline-block;

}

/*Feature*/

#main-header{

  background-image:url(../img/fan2-retina.png);
  height:765px;
  margin:0;
  background-repeat:no-repeat;
  background-size:100%;
  padding-top:15em; /*padding for feature element text*/
}

.feature-wrap {
  z-index:2;
  position:relative;
  margin:0 auto;
  width:50%;

}

.feature-buttons > .button{
  margin-top:2em;

}


/*Panels in key Groupings*/
.image-placeholder{
  margin-top: 3em;
}

.service{
  padding: 0 1em;
  margin: 0 1.5em;
  display: inline-block;
}

.service p{
  text-align: left;
}
